.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 40px 20px 40px;
    background-color: black;
    border: 3px solid #6B7280;
    border-radius: 5px;
    min-height: 100vh;
}

.calculator-heading{
    font-family: "Roboto";
    font-weight: bold;
    color: aqua;
    margin-bottom: 70px;
}